.root {
  align-items: center;
}
.root,.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  gap: 24px;
  height: auto;
  padding: 0 80px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.container01 {
  gap: 40px;
  align-self: stretch;
  align-items: center;
}
.container01,.container02 {
  display: flex;
  flex-shrink: 0;
}
.container02 {
  gap: 8px;
  width: 620px;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.text {
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
  font-size: 45px;
  font-family: Titillium Web;
  font-weight: 700px;
  line-height: 120.00000476837158%;
}
.text,.text01 {
  color: rgba(28, 28, 28, 1);
  height: auto;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-stretch: normal;
}
.text01 {
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 400px;
  line-height: 179.99999523162842%;
}
.container03 {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.container04 {
  gap: 24px;
  width: 290px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 0;
  border-color: rgba(211, 211, 211, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.container04,.container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container05 {
  gap: 8px;
  align-self: stretch;
}
.text02 {
  font-size: 18px;
  font-family: Titillium Web;
  font-weight: 700;
  line-height: 120.00000476837158%;
}
.text02,.text03 {
  color: rgba(28, 28, 28, 1);
  height: auto;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-stretch: normal;
}
.text03 {
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 400px;
  line-height: 179.99999523162842%;
}
.container06 {
  position: relative;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.container06,.container07 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  flex-direction: column;
  background-size: cover;
}
.container07 {
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
  height: var(--size-custom);
  z-index: 1;
  align-items: flex-start;
}
.container08 {
  gap: 24px;
  width: 290px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 0;
  border-color: rgba(211, 211, 211, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.container08,.container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container09 {
  gap: 8px;
  align-self: stretch;
}
.text04 {
  font-size: 18px;
  font-family: Titillium Web;
  font-weight: 700;
  line-height: 120.00000476837158%;
}
.text04,.text05 {
  color: rgba(28, 28, 28, 1);
  height: auto;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-stretch: normal;
}
.text05 {
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 400px;
  line-height: 179.99999523162842%;
}
.container10 {
  position: relative;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.container10,.container11 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  flex-direction: column;
}
.container11 {
  height: var(--size-custom);
  z-index: 1;
  align-items: flex-start;
  background-size: cover;
}
.container12 {
  gap: 24px;
  width: 290px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 0;
  border-color: rgba(211, 211, 211, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.container12,.container13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container13 {
  gap: 8px;
  align-self: stretch;
}
.text06 {
  font-size: 18px;
  font-family: Titillium Web;
  font-weight: 700;
  line-height: 120.00000476837158%;
}
.text06,.text07 {
  color: rgba(28, 28, 28, 1);
  height: auto;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-stretch: normal;
}
.text07 {
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 400px;
  line-height: 179.99999523162842%;
}
.container14 {
  position: relative;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.container14,.container15 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  flex-direction: column;
}
.container15 {
  height: var(--size-custom);
  z-index: 1;
  align-items: flex-start;
  background-size: cover;
}
.container16 {
  gap: 24px;
  width: 290px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 0;
  border-color: rgba(211, 211, 211, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.container16,.container17 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container17 {
  gap: 8px;
  align-self: stretch;
}
.text08 {
  font-size: 18px;
  font-family: Titillium Web;
  font-weight: 700;
  line-height: 120.00000476837158%;
}
.text08,.text09 {
  color: rgba(28, 28, 28, 1);
  height: auto;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-stretch: normal;
}
.text09 {
  font-size: 12px;
  font-family: Open Sans;
  font-weight: 400px;
  line-height: 179.99999523162842%;
}
.container18 {
  position: relative;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.container18,.container19 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  flex-direction: column;
}
.container19 {
  height: var(--size-custom);
  z-index: 1;
  align-items: flex-start;
  background-size: cover;
}
@media(max-width: 1280px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .container,.text01 {
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
  }
  .container03 {
    display: flex;
    flex-direction: column;
  }
  .container04,.container08 {
    width: 100%;
  }
  .text04 {
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
  }
}
