.root {
  gap: 40px;
  top: unset !important;
  left: unset !important;
  right: unset !important;
  width: 100%;
  bottom: unset !important;
  max-width: 1440px;
  align-items: center;
  margin-block: 80px;
  margin-inline: auto;
}
.root,.container {
  display: flex;
  flex-direction: column;
}
.container {
  gap: 16px;
  padding: 0 407px 0 0;
  align-self: stretch;
  align-items: flex-start;
}
.text {
  top: unset !important;
  left: unset !important;
  color: rgba(0, 0, 0, 1);
  right: unset !important;
  bottom: unset !important;
  font-size: 42px;
  font-family: Tiempos Headline;
  font-weight: 300px;
  line-height: 120.00000476837158%;
}
.text,.richtext {
  height: auto;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-stretch: normal;
}
.richtext {
  color: rgba(43, 43, 43, 1);
  font-size: 18px;
  font-family: Libre Franklin;
  font-weight: 400px;
  line-height: 139.9999976158142%;
}
.container1 {
  gap: 20px;
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 1919px) {
  .root {
    gap: 40px;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    width: 100%;
    bottom: unset !important;
    max-width: 1440px;
    margin-block: 80px;
    margin-inline: auto;
  }
  .container1 {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media(max-width: 1673px) {
  .root {
    gap: 40px;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
  }
  .container1 {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media(max-width: 1600px) {
  .root {
    gap: 40px;
  }
  .container {
    padding: 0 33.33% 0 0;
  }
  .container1 {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media(max-width: 1599px) {
  .root,.text,.richtext,.container1 {
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
  }
}
@media(max-width: 1439px) {
  .root {
    gap: 40px;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    max-width: 1440px;
  }
  .container {
    padding: 0;
  }
  .text,.richtext,.container1 {
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
  }
  .container1 {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media(max-width: 1267px) {
  .root,.richtext {
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
  }
}
@media(max-width: 1159px) {
  .root {
    gap: 40px;
    width: 100%;
    align-items: center;
  }
  .root,.container {
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
  }
}
@media(max-width: 915px) {
  .root {
    width: 100%;
    align-items: center;
  }
}
@media(max-width: 767px) {
  .root {
    width: 100%;
    align-items: center;
  }
}
@media(max-width: 676px) {
  .root {
    width: 100%;
    align-items: center;
  }
}
@media(max-width: 639px) {
  .root {
    width: 100%;
    align-items: center;
  }
}
@media(max-width: 480px) {
  .root,.container,.container1 {
    flex-direction: column;
  }
}
@media(max-width: 462px) {
  .root {
    width: 100%;
    align-items: center;
  }
}
@media(max-width: 310px) {
  .root {
    width: 100%;
    align-items: center;
  }
}
